<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {{#if title}}
    <title>{{title}}</title>
    {{/if}}

    <script src="/public/cdn.js"></script>



    <style>
        html, body {
            margin: 0;
            padding: 0;
        }
        /*body {*/
        /*    min-height: 100px;*/
        /*}*/
    </style>

    {{#unless attributes.height}}
    <script>
        (() => {
            const topFrame = window.frameElement;
            if (topFrame) {
                const debouncedHandler = () => {
                    const height = document.documentElement.offsetHeight;
                    topFrame.style.height = (Math.ceil(height) + 1) + 'px';
                };
                const observe = new ResizeObserver(debouncedHandler);
                observe.observe(document.documentElement);
            }
        })();
    </script>
    {{/unless}}


    {{#> head}}
    {{/head}}
</head>
<body>

{{#if attributes.container}}
<div id="{{attributes.container}}"></div>
{{/if}}


{{> @partial-block }}









</body>
</html>
