.markdown-container {
  display: flex;
  padding: 0 40px;
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 860px) {
  .markdown-container {
    margin: 0;
    padding: 40px 20px;
  }
  .markdown-container .markdown-body {
    /*margin: 40px 0;*/
    /*padding: 0 20px;*/
    margin: 0;
    padding: 0;
    max-width: 100%;
  }
}

.markdown-toc {
  width: 200px;
  /*position: fixed;*/
  position: sticky;
  top: 50px;
  /*right: 20px;*/
  /*top: 60px;*/
  /*border: 1px solid rgb(255 255 255 / 19%);*/
  max-height: 80vh;
  overflow-y: auto;
  margin-left: 40px;
}
.markdown-toc .toc {
  padding: 10px 10px 2px 15px;
  border: 1px solid rgb(255 255 255 / 19%);
}
.markdown-toc .toc > ul {
  padding: 0;
  margin: 0;
}
/* <=1200 */
@media (max-width: 860px) {
  .markdown-toc {
    display: none;
  }
}
.markdown-toc ul {
  padding-inline-start: 23px;
}
.markdown-toc ul li {
  line-height: 1.5;
  list-style-type: none;
}
.markdown-toc ul li a {
  color: #ffffff;
  text-decoration: none;
  border-bottom: none;
  font-size: 14px;
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
}

.markdown-code-previewer-container {
  /*background-color: white;*/
  margin-top: 20px;

}
.markdown-code-previewer-container iframe{
  display: block;
}
.markdown-code-previewer {
  background-color: white;
  margin-top: 20px;
}


.markdown-code-browser-window {
  //border: 3px solid #ebedf0;
  border: 3px solid #21252b;
  border-radius: 0.4rem 0.4rem 0 0;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
  /*margin-bottom: calc(1.25*1rem);*/
}

.markdown-code-browser-window-header {
  align-items: center;
  //background: #ebedf0;
  background: #21252b;
  display: flex;
  padding: 0 1rem;
}

.markdown-code-browser-window-buttons {
  white-space: nowrap;
  line-height: 1.5;
}

.markdown-code-browser-window-button {
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  height: 12px;
  margin-right: 6px;
  margin-top: 4px;
  width: 12px;
}
.markdown-code-browser-window-button.dot_giz_a {
  background: rgb(242, 95, 88)
}
.markdown-code-browser-window-button.dot_giz_b {
  background: rgb(251, 190, 60)
}
.markdown-code-browser-window-button.dot_giz_c {
  background: rgb(88, 203, 66)
}

.markdown-code-browser-window-menu-icon {
  margin-left: auto;
}

.markdown-code-browser-window-menu-icon .bar_rrRL {
  background-color: #aaa;
  display: block;
  height: 2px;
  margin: 3px 0;
  width: 16px;
}

.markdown-code-browser-window-title {
  border-radius: 12.5px;
  color: #ffffff;
  flex: 1 0;
  font: 400 13px Arial,sans-serif;
  margin: 0 1rem 0 .5rem;
  padding: 5px 15px;
  -webkit-user-select: none;
  user-select: none;
  text-align: center;
}

.markdown-code-browser-window-title.text--truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  /*text-transform: capitalize;*/
  font-weight: 700;
  font-size: 14px
}


