<html>
<head>
    <link rel="stylesheet" href="/public/assets/css/github-markdown-dark.css?style">
    <style>
        body.markdown-body {
            color: #fff;
        }
    </style>
</head>
<body class="markdown-body">

<p>
    hello markdown.hbs
</p>
</body>
</html>
