<html>
<head>
    {{>head}}
    <script src="/public/assets/libs/babel-standalone/babel.min.js"></script>
</head>
<body>

<div id="root"></div>

<script type="module">

{{{code}}}

</script>


</body>
</html>
