<html>
<head>
    <meta charset="utf-8">

    <style>
        html, body {
            margin: 0;
            padding: 0;
        }
    </style>
    <script>
        (() => {
            const script = document.createElement('script');
            script.type = 'importmap';

            const __LIBS__ = Object.assign({}, top.window.__LIBS__);
            script.textContent = JSON.stringify({"imports": __LIBS__}, null, 2);
            document.currentScript.after(script);
        })();
    </script>

</head>

<body>

<div id="app"></div>

<script type="module">
    import * as Vue from 'vue';
    import { loadModule } from 'vue3-sfc-loader';

    const { createApp, defineComponent} = Vue;

    const options = {

        moduleCache: {
            vue: Vue,
        },

        getFile() {
            const topFrame = window.frameElement;
            if (topFrame) {
                const code = topFrame.parentElement.querySelector('textarea').value;
                return code;
            }
            return `<template>error</template> `;
        },

        addStyle(styleStr) {
            const style = document.createElement('style');
            style.textContent = styleStr;
            const ref = document.head.getElementsByTagName('style')[0] || null;
            document.head.insertBefore(style, ref);
        },

        log(type, ...args) {
            console.log(type, ...args);
        }
    }

    loadModule('/app.vue', options).then((c) => {
        const app = createApp(c);
        app.mount('#app');
    });

</script>


</body>
</html>
